<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form</title>
</head>
<body>
<div th:fragment="form" th:object="${requestBoard}">
    <div class="error global" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>

    <input type="hidden" name="gid" th:field="*{gid}">
    <input type="hidden" name="bid" th:field="*{bid}">
    <input type="hidden" name="seq" th:field="*{seq}">

    <h2>게시글 상세</h2>

    <table class="table_cols mb30">
        <tr>
            <td>
                <dl>
                    <dt>작성자</dt>
                    <dd>
                        <input type="text" name="poster" th:field="*{poster}"
                               th:value="${requestBoard.mode == 'update' ? requestBoard.poster : (isLogin ? loggedMember.userName : '')}">

                        <div th:if="${isAdmin}">
                            <input type="checkbox" name="notice" value="true" id="notice" th:field="*{notice}"
                                   th:checked="${requestBoard.notice}">
                            <label for="notice">공지글</label>
                        </div>
                    </dd>
                </dl>

                <div th:if="${guestOnly}">
                    <dl>
                        <dt>비밀번호</dt>
                        <dd>
                            <input type="password" name="guestPassword" placeholder="글 수정, 삭제 비밀번호"
                                   th:field="*{guestPw}">
                        </dd>
                    </dl>
                </div>

                <dl>
                    <dt>제목</dt>
                    <dd>
                        <input type="text" name="subject" th:field="*{subject}" th:value="${requestBoard.subject}">
                    </dd>
                </dl>
                <dl>
                    <dt>내용</dt>
                    <dd>
                        <textarea name="content" id="content" th:field="*{content}"
                                  th:text="${requestBoard.content}"></textarea>
                    </dd>
                </dl>

                <dl>
                    <dt>이미지 첨부</dt>
                    <dd>
                        <button type='button' class="file-upload editor">이미지 선택</button>
                        <div class="attach-files" id="attach-files-editor">
                            <div th:if="${requestBoard.editorImages != null && !requestBoard.editorImages.isEmpty()}">
                                <div th:each="item : ${requestBoard.editorImages}" class="file-item"
                                     th:id="'file-item-' + ${item.seq}">
                                    <a th:href="@{${downloadUrl}/${item.seq}}" th:text="${item.fileName}"></a>
                                    <a th:href="@{${deleteUrl}/${item.seq}}" target="ifrmProcess"
                                       onclick="return confirm('정말 삭제하겠습니까?');">
                                        <i class="xi-close remove"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </dd>
                </dl>

                <dl>
                    <dt>파일 첨부</dt>
                    <dd>
                        <button type='button' class="file-upload">파일 선택</button>
                        <div class="attach-files" id="attach-files-attach">
                            <div th:if="${requestBoard.attachFiles != null && !requestBoard.attachFiles.isEmpty()}">
                                <div th:each="item : ${requestBoard.attachFiles}" class="file-item"
                                     th:id="'file-item-' + ${item.seq}">
                                    <a th:href="@{${downloadUrl}/${item.seq}}" th:text="${item.fileName}"></a>
                                    <i class="xi-file-upload insert-editor" th:data-url="${item.fileUrl}"></i>
                                    <a th:href="@{${deleteUrl}/${item.seq}}" target="ifrmProcess"
                                       onclick="return confirm('정말 삭제하겠습니까?');">
                                        <i class="xi-close remove"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </dd>
                </dl>
            </td>
        </tr>
    </table>
    <script th:replace="~{common/_file_tpl :: editor_tpl}"></script>
</div>
</body>
</html>
